#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.repl {
  position: relative;
}

.repl-history {
  height: 70vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.repl-input {
  margin: auto;
  height: 10vh;
}

.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}
